.user_login_container {
  padding: 50px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background-color: white;
  margin: auto;
}
.separator {
    border-bottom: 1px solid #dadde1;
    margin: 20px 0;
}