.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  background-color: rgb(245, 235, 220);
}
* {
  box-sizing: border-box;
}


